
.bg-image {
    background-image: url("../img/01.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.bg-image2 {
    background-image: url("../img/03.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.lh-2 {
    line-height: 13px;
}

.fs-7 {
    font-size: 14px ;
}

.fs-8 {
    font-size: 12px ;
}

.fs-9 {
    font-size: 10px ;
}

.fs-10 {
    font-size: 8px ;
}

.fs-11 {
    font-size: 6px ;
}

.w-20 {
    width: 20%;
}




a.hover-1 {
    position: relative;
    color: black!important;
}

a.hover-1:hover {
    color: red!important;
}


a.hover-1:hover::before {
    content: '';
    position: absolute;
    animation: hover-1 3s infinite;
    top: 25px;
    width: 80px;
    height: 3px;
    background-color: red!important;
    transition: .3s all;
}

@keyframes hover-1 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 80px;
        height: 3px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}





a.hover-2 {
    position: relative;
    color: white!important;
}

a.hover-2:hover {
    color: red!important;
}


a.hover-2:hover::before {
    content: '';
    position: absolute;
    animation: hover-2 3s infinite;
    top: 35px;
    width: 50px;
    height: 3px;
    background-color: red!important;
    transition: .3s all;
}

@keyframes hover-2 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 50px;
        height: 3px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}